doctype html 
html
  head
    title Redux 101 - Introduction to Redux Architecture
    meta(charset='utf-8')
    meta(name='author', content='Piotr Staniów')
    meta(name='description', content='Redux 101')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="icon" href="common/img/favicon.ico")
 
-var counter = 0
  body
    .reveal
      .slides        
        include ./slides/title.pug
        include ./slides/agenda.pug
        include ./slides/redux/01-redux.pug
        include ./slides/redux/02-redux.pug
        include ./slides/redux/03-state.pug
        include ./slides/redux/04-state.pug
        include ./slides/redux/05-principles.pug
        include ./slides/redux/06-store.pug
        include ./slides/redux/07-outro.pug
        include ./slides/end.pug
    script(src="main.bundle.js")
