.reveal h1 {
  font-size: 2.0em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.35em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal section img {
  margin: 0px 0px;
  max-height: 500px;
  border: none;
  background-color: #222;
}

.reveal p.small {
  font-size: 0.7em;
}

.reveal pre {
     width: 100%;
}

.reveal code.small {
  font-size: 0.75em;
}

.reveal .bgImages img {
     width: 22%;
     margin: 5px;
     height: 120px;
}

code.small {
    background: rgba(0, 128, 255, 0.25);
    padding: 0.1rem;
}

.reveal .slide-background {
  background-size: contain !important;
}

.text-left {
  text-align: left;
}