extends layout.pug 

block vars
  - var title = 'agenda'

block title
  | Redux 101 - Agenda
block content
  div.left
    h4 Learn
    ul
        li What is an application state?
        li What Redux actually is?
        li How to write code in Redux?
    h4 Build
    ul
        li Implementation of Redux Store
        li Build simple app with Redux
    h4 Share
    ul
        li Q&A Session
        li Further learning
