extends layout.pug 

block vars
  - var title = 'end'

block title
  | Thank you     
block content
  p
  | Further questions?
  p
  | piotr.staniow@capgemini.com
  p
  | Twitter: @piotrstaniow
  p
  | Presentation: https://piotrstaniow.github.io/redux-101
