-var transition= "slide"
block vars


- var pageId = (counter++) + "-" + title
section(id= pageId, data-transition=transition)
  body
    h1.text-left
      img.author(src="img/author.jpg")
      block title
    h3.text-left
      block author
    h5.text-left
      block event
