extends layout.pug 

block vars
  - var title = 'quiz'

block title
  | Quiz IT    
block content
  p 
  | Visit <a href="http://quizit.online">http://quizit.online</a>
  p
  | Log in and go to Multiplayer
