extends ../layout.pug 

block vars
  - var title = 'redux-app-state'

block title
    | What's an application state?
block content
    p
      | All the data an application needs at a given moment:
    ul
      li.fragment To display User Interface of given structure and content <br> e.g. user input, preflight data, connected devices, events
      li.fragment To perform actions and calculations <br> e.g. authentication tokens, cached images and responses
      li.fragment To provide behaviour persistency <br> e.g. responses from APIs, data from sockets

