extends ../layout.pug 

block vars
  - var title = 'redux-explain'

block title
    | What Redux actually is?
block content
    ul
      li.fragment Lightweight, reliable and scalable application architecture (e.g. Facebook)
      li.fragment A small set of building blocks used to manage the application state
      li.fragment A way of thinking about where to put business logic
