extends ../layout.pug 

block vars
  - var title = 'implement'

block title
    | Redux implementation
block content
  p
    a(href="https://codepen.io/piotrstaniow/pen/OoPjwr?editors=1010")
      | Basic Store Implementation
  p
    a(href="https://codepen.io/piotrstaniow/pen/yxyoxN?editors=1010")
      | Store with subscription
